body{
    margin: 0;
    padding: 0;
background: white;
    
}
.topnav{
    width: 100%;
    background: black;
    height: 50px;
    text-align: center;
    font-size: 30px;
    
}
p{
    color: white;
    font-size: 70%;
    align-content: center;
    margin: 0;
}
.topp{
    display: flex;
    justify-content: flex-start;
}

#toptext{
    float: right;
    margin-top: 10px;
    margin-bottom: 7px;
}


#toptext{
    color: white;
    display: flex;
    justify-content:flex-end; 
   

}
.top{
    display: flex;
    justify-content: space-between;
}
.featured{
    font-size: 40px;
    margin-left: 55px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.season{
    font-size: 40px;
    margin-left: 55px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.fans{
    font-size: 40px;
    margin-left: 55px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.best{
    font-size: 40px;
    margin-left: 55px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.wins{
    font-size: 40px;
    margin-left: 55px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.bigwins{
  margin-left: 55px;
}
niketop{
    display: flex;
    justify-content: flex-start;
}
}
#logo{
    width: 10px;
    height: 100px;
    float: left;
    
}
.bottomnav{
    background: white;
    height: 80px;
}
#bottomtext{
    color: black;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}
table{
text-align: center;
    max-width: 400px;
    width: 100%;
    line-height: 5em;

}
