body{
    margin: 0;
    padding: 0;
background: white;
    
}
.topnav{
    width: 100%;
    background: black;
    overflow: auto;
}
ul{
    padding: 0;
    margin:0 0 0 150px;
    list-style: none;
}
#toptext{
    float: right;
    margin-top: 10px;
    margin-bottom: 7px;
}
nav a{
    width: 100px;
    display: flex;
    padding: 10px px;
    text-decoration: none;
    font-family: serif;
    color: white;
    text-align: center;
    justify-content: flex-end;
}
#flag{
    width: 20px;}
#toptext{
    color: white;
    display: flex;
    justify-content:flex-end; 
   

}
#first{
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    color: white;

}
#logo{
    width: 10px;
    height: 100px;
    float: left;
    
}
.bottomnav{
    background: white;
}
#bottomtext{
    color: black;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
}
table{
text-align: center;
    max-width: 400px;
    width: 100%;
    line-height: 5em;
     
}
.top{
    display: flex;
    justify-content: center;
}
.middle{
    display: flex;
    justify-content: flex-end;
}
.middleend{
    display: flex;
    justify-content: flex-end;
}
#paragragh{
    color: #989898;
    font-size: 14px;
    margin: 0;
    margin: 0px 0px 16px;
}
#video{
    display: inline-block;
}
#bottomtextt{
      display: flex;
    justify-content: center;
}
}
